[data-md-color-scheme="templates_symbology"] {
  --md-primary-fg-color:        #158CBA;
  --md-primary-fg-color--light: #ECB7B7;
  --md-primary-fg-color--dark:  #90030C;
}

body, input {
    font-family: Ubuntu;
}